@font-face {
	font-family: 'gticonsregular';
	src: url('gt_icons-regular-webfont.woff2') format('woff2'),
	url('Gt_icons-Regular.ttf') format('truetype'),
	url('gt_icons-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.gticons {
	font-family: 'gticonsregular';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}